In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\manjusree\appdata\roaming\python\python312\site-packages (9.3.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector
from datetime import datetime

In [14]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='love',
    database='employees'
)
cursor = conn.cursor()

In [15]:



while cursor.nextset():
    pass

cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

print("Tables in database:")
for table in tables:
    print(table[0])

Tables in database:
current_dept_emp
departments
dept_emp
dept_emp_latest_date
dept_manager
employees
salaries
titles

In [17]:
for (table_name,) in tables:
    print(f" Table: {table_name}")
    cursor.execute(f"DESCRIBE {table_name}")
    columns = cursor.fetchall()
    for col in columns:
        print(f" - {col[0]} ({col[1]})")

 Table: current_dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: departments
 - dept_no (char(4))
 - dept_name (varchar(40))
 Table: dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: dept_emp_latest_date
 - emp_no (int)
 - from_date (date)
 - to_date (date)
 Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)
 Table: titles
 - emp_no (int)
 - title (varchar(50))
 - from_date (date)
 - to_date (date)

In [18]:
cursor.execute("SELECT * FROM employees ")
rows_employees = cursor.fetchall()

cursor.execute("SELECT * FROM dept_manager ")
rows_dept_man = cursor.fetchall()

cursor.execute("SELECT * FROM salaries ")
rows_salaries = cursor.fetchall()

In [27]:
prompt='''generate a query to find male employees whose salary is above 10000 .

response format (no backticks or markdown, just pure SQL):
SELECT * 
FROM content 
WHERE designation = 'Software Engineer';

tables columns: Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)


'''
import  google.generativeai as genai
genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(prompt)
print( response.text)

SELECT e.emp_no
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
WHERE e.gender = 'M' AND s.salary > 10000;

In [ ]:
prompt=''' geerate a query find the title of employee , employee  , department  who are female with salary above 20000.

tables : Table: current_dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: departments
 - dept_no (char(4))
 - dept_name (varchar(40))
 Table: dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: dept_emp_latest_date
 - emp_no (int)
 - from_date (date)
 - to_date (date)
 Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)
 Table: titles
 - emp_no (int)
 - title (varchar(50))
 - from_date (date)
 - to_date (date)

response format (no backticks or markdown, without any headings. just pure SQL query):
SELECT * 
FROM content 
WHERE designation = 'Software Engineer';

'''
from groq import Groq

client = Groq(api_key="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")  


chat_completion = client.chat.completions.create(
    model="llama3-70b-8192",  
    messages=[
        {
            "role": "user",
            "content": prompt
        }
    ]
   
)

result=chat_completion.choices[0].message.content
print(result)

Here is the query:

SELECT t.title, e.first_name, e.last_name, d.dept_name
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
JOIN titles t ON e.emp_no = t.emp_no
JOIN current_dept_emp c ON e.emp_no = c.emp_no
JOIN departments d ON c.dept_no = d.dept_no
WHERE e.gender = 'F' AND s.salary > 20000;

In [41]:
cursor.execute("SELECT COUNT(*) FROM employees WHERE gender = 'F'")
print(cursor.fetchone())

(120051,)

In [42]:
cursor = conn.cursor()
cursor.execute('''SELECT t.title, e.first_name, e.last_name, d.dept_name 
FROM employees e 
JOIN salaries s ON e.emp_no = s.emp_no 
JOIN titles t ON e.emp_no = t.emp_no 
JOIN current_dept_emp c ON e.emp_no = c.emp_no 
JOIN departments d ON c.dept_no = d.dept_no 
WHERE e.gender = 'F' AND s.salary > 20000
LIMIT 5 ;''')
row=cursor.fetchall()
print(row)

[('Staff', 'Bezalel', 'Simmel', 'Sales'), ('Staff', 'Bezalel', 'Simmel', 'Sales'), ('Staff', 'Bezalel', 'Simmel', 'Sales'), ('Staff', 'Bezalel', 'Simmel', 'Sales'), ('Staff', 'Bezalel', 'Simmel', 'Sales')]

In [45]:
PROMPT='''
intent:  all employees who joined after 2010  
QUESTION: List of first and last names of employees whose hire_date is after 2010  
Answer:SELECT first_name, last_name FROM employees WHERE hire_date > '2010-12-31';

---

Now generate SQL for this:

Intent: Find average salary of female employees

Question: What is the average salary of all female employees?

Answer: A single number representing the average salary of employees whose gender is 'F'

tables : Table: current_dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: departments
 - dept_no (char(4))
 - dept_name (varchar(40))
 Table: dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: dept_emp_latest_date
 - emp_no (int)
 - from_date (date)
 - to_date (date)
 Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)
 Table: titles
 - emp_no (int)
 - title (varchar(50))
 - from_date (date)
 - to_date (date)'''
import  google.generativeai as genai
genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(PROMPT)
print( response.text)

```sql
SELECT avg(salary) FROM employees e JOIN salaries s ON e.emp_no = s.emp_no WHERE e.gender = 'F'
```

In [48]:
question="give employee name , departemnt name and their slary greater than 1,00,000 with their corresponding title order by department name"

context=f'''You are a sql master capable of writing complex sql query in mysql
question:{question}
schema:Table: current_dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: departments
 - dept_no (char(4))
 - dept_name (varchar(40))
 Table: dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: dept_emp_latest_date
 - emp_no (int)
 - from_date (date)
 - to_date (date)
 Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)
 Table: titles
 - emp_no (int)
 - title (varchar(50))
 - from_date (date)
 - to_date (date)
''' 
import  google.generativeai as genai
genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(context)
print( response.text)

```sql
SELECT
  e.first_name,
  e.last_name,
  d.dept_name,
  s.salary,
  t.title
FROM employees AS e
JOIN dept_emp AS de
  ON e.emp_no = de.emp_no
JOIN departments AS d
  ON de.dept_no = d.dept_no
JOIN salaries AS s
  ON e.emp_no = s.emp_no
JOIN titles AS t
  ON e.emp_no = t.emp_no
WHERE
  s.salary > 100000
ORDER BY
  d.dept_name;
```