In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---- ----------------------------------- 1.8/16.4 MB 16.9 MB/s eta 0:00:01
   ------------------- -------------------- 7.9/16.4 MB 22.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.5/16.4 MB 21.2 MB/s eta 0:00:01
   ------------------------------- -------- 12.8/16.4 MB 16.8 MB/s eta 0:00:01
   --------------------------------- ------ 13.9/16.4 MB 14.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.4 MB 12.2 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.4 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 10.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [127]:
import mysql.connector
from datetime import datetime

In [128]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="love",
    database="test_db"
)
cursor = conn.cursor()

In [60]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS employee_professional_profile (
    EMPNO VARCHAR(10) PRIMARY KEY,
    Name VARCHAR(100),
    Email_ID VARCHAR(100),
    Date_of_Join DATE,
    Department VARCHAR(100),
    Department_ID VARCHAR(10),
    Designation VARCHAR(100),
    Designation_ID VARCHAR(10),
    Current_Position VARCHAR(100)
)
""")

In [61]:
employees = [
    ('K000111', 'John Doe', 'john.doe@example.com', '2020-06-15', 'Information Technology', 'IT01', 'Software Engineer', 'SE001', 'Senior Developer'),
    ('K000112', 'Jane Smith', 'jane.smith@example.com', '2021-01-10', 'Finance', 'FIN02', 'Accountant', 'ACC02', 'Finance Analyst'),
    ('K000113', 'Arun Kumar', 'arun.kumar@example.com', '2019-11-05', 'Human Resources', 'HR03', 'HR Executive', 'HR03', 'HR Manager'),
    ('K000114', 'Priya R', 'priya.r@example.com', '2022-03-20', 'Marketing', 'MKT04', 'Marketing Lead', 'MKT04', 'Marketing Head'),
    ('I000226', 'Imran Khan', 'imran.khan@example.com', '2023-08-01', 'Operations', 'OPS05', 'Operations Manager', 'OPS05', 'Operations Lead')
]

In [6]:
insert_query = """
INSERT INTO employee_professional_profile
(EMPNO, Name, Email_ID, Date_of_Join, Department, Department_ID, Designation, Designation_ID, Current_Position)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
Name=VALUES(Name),
Email_ID=VALUES(Email_ID),
Date_of_Join=VALUES(Date_of_Join),
Department=VALUES(Department),
Department_ID=VALUES(Department_ID),
Designation=VALUES(Designation),
Designation_ID=VALUES(Designation_ID),
Current_Position=VALUES(Current_Position)
"""

cursor.executemany(insert_query, employees)

In [17]:
new_employees = [
    ('I000227', 'Ravi Verma', 'ravi.verma@example.com', '2022-12-12', 'Information Technology', 'IT01', 'Backend Developer', 'SE002', 'Technical Lead'),
    ('I000228', 'Neha Sharma', 'neha.sharma@example.com', '2021-09-30', 'Finance', 'FIN02', 'Financial Analyst', 'ACC03', 'Senior Analyst'),
    ('I000229', 'Amit Joshi', 'amit.joshi@example.com', '2020-02-14', 'Human Resources', 'HR03', 'Recruiter', 'HR04', 'Talent Acquisition Lead'),
    ('I000230', 'Divya Nair', 'divya.nair@example.com', '2018-07-21', 'Marketing', 'MKT04', 'Content Writer', 'MKT05', 'Content Strategist'),
    ('I000231', 'Karan Mehta', 'karan.mehta@example.com', '2023-01-15', 'Operations', 'OPS05', 'Logistics Coordinator', 'OPS06', 'Logistics Lead'),
    ('I000232', 'Shweta Patel', 'shweta.patel@example.com', '2022-05-19', 'Information Technology', 'IT01', 'UI/UX Designer', 'SE003', 'Design Lead'),
    ('I000233', 'Suresh Reddy', 'suresh.reddy@example.com', '2019-10-08', 'Finance', 'FIN02', 'Auditor', 'ACC04', 'Audit Head'),
    ('I000234', 'Meena Gupta', 'meena.gupta@example.com', '2021-06-01', 'Marketing', 'MKT04', 'SEO Specialist', 'MKT06', 'SEO Manager'),
    ('I000235', 'Nikhil Jain', 'nikhil.jain@example.com', '2023-03-28', 'Operations', 'OPS05', 'Supply Chain Analyst', 'OPS07', 'Operations Strategist'),
    ('I000236', 'Lakshmi Iyer', 'lakshmi.iyer@example.com', '2020-09-10', 'Human Resources', 'HR03', 'Employee Relations', 'HR05', 'HR Business Partner')
]

insert_query = """
INSERT INTO employee_professional_profile
(EMPNO, Name, Email_ID, Date_of_Join, Department, Department_ID, Designation, Designation_ID, Current_Position)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
Name=VALUES(Name),
Email_ID=VALUES(Email_ID),
Date_of_Join=VALUES(Date_of_Join),
Department=VALUES(Department),
Department_ID=VALUES(Department_ID),
Designation=VALUES(Designation),
Designation_ID=VALUES(Designation_ID),
Current_Position=VALUES(Current_Position)
"""

# Insert data
cursor.executemany(insert_query, new_employees)
conn.commit()

In [65]:

cursor = conn.cursor()
cursor.execute("SELECT * FROM employee_professional_profile")
rows = cursor.fetchall()
conn.close()

In [66]:
print(rows)

[('I000226', 'Imran Khan', 'imran.khan@example.com', datetime.date(2023, 8, 1), 'Operations', 'OPS05', 'Operations Manager', 'OPS05', 'Operations Lead'), ('I000227', 'Ravi Verma', 'ravi.verma@example.com', datetime.date(2022, 12, 12), 'Information Technology', 'IT01', 'Backend Developer', 'SE002', 'Technical Lead'), ('I000228', 'Neha Sharma', 'neha.sharma@example.com', datetime.date(2021, 9, 30), 'Finance', 'FIN02', 'Financial Analyst', 'ACC03', 'Senior Analyst'), ('I000229', 'Amit Joshi', 'amit.joshi@example.com', datetime.date(2020, 2, 14), 'Human Resources', 'HR03', 'Recruiter', 'HR04', 'Talent Acquisition Lead'), ('I000230', 'Divya Nair', 'divya.nair@example.com', datetime.date(2018, 7, 21), 'Marketing', 'MKT04', 'Content Writer', 'MKT05', 'Content Strategist'), ('I000231', 'Karan Mehta', 'karan.mehta@example.com', datetime.date(2023, 1, 15), 'Operations', 'OPS05', 'Logistics Coordinator', 'OPS06', 'Logistics Lead'), ('I000232', 'Shweta Patel', 'shweta.patel@example.com', datetime.date(2022, 5, 19), 'Information Technology', 'IT01', 'UI/UX Designer', 'SE003', 'Design Lead'), ('I000233', 'Suresh Reddy', 'suresh.reddy@example.com', datetime.date(2019, 10, 8), 'Finance', 'FIN02', 'Auditor', 'ACC04', 'Audit Head'), ('I000234', 'Meena Gupta', 'meena.gupta@example.com', datetime.date(2021, 6, 1), 'Marketing', 'MKT04', 'SEO Specialist', 'MKT06', 'SEO Manager'), ('I000235', 'Nikhil Jain', 'nikhil.jain@example.com', datetime.date(2023, 3, 28), 'Operations', 'OPS05', 'Supply Chain Analyst', 'OPS07', 'Operations Strategist'), ('I000236', 'Lakshmi Iyer', 'lakshmi.iyer@example.com', datetime.date(2020, 9, 10), 'Human Resources', 'HR03', 'Employee Relations', 'HR05', 'HR Business Partner'), ('K000111', 'John Doe', 'john.doe@example.com', datetime.date(2020, 6, 15), 'Information Technology', 'IT01', 'Software Engineer', 'SE001', 'Senior Developer'), ('K000112', 'Jane Smith', 'jane.smith@example.com', datetime.date(2021, 1, 10), 'Finance', 'FIN02', 'Accountant', 'ACC02', 'Finance Analyst'), ('K000113', 'Arun Kumar', 'arun.kumar@example.com', datetime.date(2019, 11, 5), 'Human Resources', 'HR03', 'HR Executive', 'HR03', 'HR Manager'), ('K000114', 'Priya R', 'priya.r@example.com', datetime.date(2022, 3, 20), 'Marketing', 'MKT04', 'Marketing Lead', 'MKT04', 'Marketing Head')]

In [67]:
prompt=f'''
give the summary of content
{rows}
'''

In [68]:
import  google.generativeai as genai
genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(prompt)
print( response.text)

The data represents a list of employees with details including:

*   **Employee ID:** (e.g., I000226, K000111)
*   **Name:** (e.g., Imran Khan, John Doe)
*   **Email:** (e.g., imran.khan@example.com, john.doe@example.com)
*   **Hire Date:** (e.g., 2023-08-01, 2020-06-15)
*   **Department:** (e.g., Operations, Information Technology)
*   **Team ID:** (e.g., OPS05, IT01)
*   **Current Role:** (e.g., Operations Manager, Software Engineer)
*   **Sub Team ID:** (e.g., OPS05, SE001)
*   **Management Role:** (e.g., Operations Lead, Senior Developer)

The list includes employees across various departments like Operations, Information Technology, Finance, Human Resources, and Marketing. It shows their current roles and management roles, indicating their positions within their respective teams and departments.

In [69]:
prompt=f''' from the data i provided ,find how many employees departemnt is human resource . Give their full details 
data : {rows}'''
response =model.generate_content(prompt)
print( response.text)

Here's the breakdown of employees in the Human Resources department based on the data you provided:

**Number of Employees in Human Resources:**

There are **3** employees in the Human Resources department.

**Details of Employees in Human Resources:**

*   **Employee ID:** I000229
    *   **Name:** Amit Joshi
    *   **Email:** amit.joshi@example.com
    *   **Hire Date:** 2020-02-14
    *   **Department:** Human Resources
    *   **Department Code:** HR03
    *   **Job Title:** Recruiter
    *   **Reporting Code:** HR04
    *   **Reporting Title:** Talent Acquisition Lead

*   **Employee ID:** I000236
    *   **Name:** Lakshmi Iyer
    *   **Email:** lakshmi.iyer@example.com
    *   **Hire Date:** 2020-09-10
    *   **Department:** Human Resources
    *   **Department Code:** HR03
    *   **Job Title:** Employee Relations
    *   **Reporting Code:** HR05
    *   **Reporting Title:** HR Business Partner

*   **Employee ID:** K000113
    *   **Name:** Arun Kumar
    *   **Email:** arun.kumar@example.com
    *   **Hire Date:** 2019-11-05
    *   **Department:** Human Resources
    *   **Department Code:** HR03
    *   **Job Title:** HR Executive
    *   **Reporting Code:** HR03
    *   **Reporting Title:** HR Manager

In [70]:
prompt=f''' from the data i provided ,find how many employees departemnt is human resource . Give their full details 
data : {rows}'''
from groq import Groq
client = Groq(api_key="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")  


chat_completion = client.chat.completions.create(
    model="llama3-70b-8192",  
    messages=[
        {
            "role": "user",
            "content": prompt
        }
    ]
   
)

result=chat_completion.choices[0].message.content
print(result)

From the data, the employees in the Human Resources department are:

1. Amit Joshi
	* Employee ID: I000229
	* Email: amit.joshi@example.com
	* Join Date: 2020-02-14
	* Department: Human Resources
	* Designation: Recruiter
	* Reporting Manager: HR04 (Talent Acquisition Lead)
2. Lakshmi Iyer
	* Employee ID: I000236
	* Email: lakshmi.iyer@example.com
	* Join Date: 2020-09-10
	* Department: Human Resources
	* Designation: Employee Relations
	* Reporting Manager: HR05 (HR Business Partner)
3. Arun Kumar
	* Employee ID: K000113
	* Email: arun.kumar@example.com
	* Join Date: 2019-11-05
	* Department: Human Resources
	* Designation: HR Executive
	* Reporting Manager: HR03 (HR Manager)

There are 3 employees in the Human Resources department.

In [71]:
import  google.generativeai as genai

In [72]:
prompt=f'''give the schema of table content given below and then give the query to fetch the software engineer details
content : {rows}'''
genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(prompt)
print( response.text)

```sql
CREATE TABLE Employees (
    EmployeeID VARCHAR(10),
    EmployeeName VARCHAR(100),
    Email VARCHAR(100),
    HireDate DATE,
    Department VARCHAR(50),
    TeamID VARCHAR(10),
    JobTitle VARCHAR(100),
    SkillID VARCHAR(10),
    ReportingManager VARCHAR(100)
);
```

```sql
SELECT
    EmployeeID,
    EmployeeName,
    Email,
    HireDate,
    Department,
    TeamID,
    JobTitle,
    SkillID,
    ReportingManager
FROM
    Employees
WHERE
    JobTitle LIKE '%Software Engineer%' OR JobTitle LIKE '%Backend Developer%' OR JobTitle LIKE '%UI/UX Designer%';
```

In [73]:
from groq import Groq
prompt=f'''give the schema of table content given below and then give the query to fetch the software engineer details
content : {rows}'''

client = Groq(api_key="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")  


chat_completion = client.chat.completions.create(
    model="llama3-70b-8192",  
    messages=[
        {
            "role": "user",
            "content": prompt
        }
    ]
   
)

result=chat_completion.choices[0].message.content
print(result)

Here is the schema of the table `content`:

```
CREATE TABLE content (
  employee_id VARCHAR(10) PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100),
  join_date DATE,
  department VARCHAR(50),
  department_code VARCHAR(10),
  designation VARCHAR(50),
  reporting_code VARCHAR(10),
  reporting_designation VARCHAR(50)
);
```

And here is the query to fetch the software engineer details:

```
SELECT *
FROM content
WHERE designation = 'Software Engineer';
```

This query will return the following result:

```
+-----------+----------+-------------------+------------+-----------------------+--------------+-----------------+---------------+----------------------+
| employee_id | name    | email             | join_date  | department          | department_code | designation    | reporting_code | reporting_designation |
+-----------+----------+-------------------+------------+-----------------------+--------------+-----------------+---------------+----------------------+
| K000111    | John Doe | john.doe@example.com | 2020-06-15 | Information Technology | IT01          | Software Engineer | SE001          | Senior Developer     |
+-----------+----------+-------------------+------------+-----------------------+--------------+-----------------+---------------+----------------------+
```

Let me know if you need any further assistance!

In [81]:
cursor = conn.cursor()
table_name='employee_professional_profile'
cursor.execute(f"DESCRIBE {table_name}")
columns = cursor.fetchall()
print(columns)

[('EMPNO', 'varchar(10)', 'NO', 'PRI', None, ''), ('Name', 'varchar(100)', 'YES', '', None, ''), ('Email_ID', 'varchar(100)', 'YES', '', None, ''), ('Date_of_Join', 'date', 'YES', '', None, ''), ('Department', 'varchar(100)', 'YES', '', None, ''), ('Department_ID', 'varchar(10)', 'YES', '', None, ''), ('Designation', 'varchar(100)', 'YES', '', None, ''), ('Designation_ID', 'varchar(10)', 'YES', '', None, ''), ('Current_Position', 'varchar(100)', 'YES', '', None, '')]

In [75]:
prompt=f'''give the employee id and employee name where their date of join is after 2020 give in alphabetical order of anme and also give the query to fetch those info   given columns and rows
rows : {rows}
columns:{columns}'''
genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(prompt)
print( response.text)

```sql
SELECT
  EMPNO,
  Name
FROM employees
WHERE
  Date_of_Join > '2020-12-31'
ORDER BY
  Name;
```

```
[('I000226', 'Imran Khan'), ('K000112', 'Jane Smith'), ('I000231', 'Karan Mehta'), ('I000234', 'Meena Gupta'), ('I000235', 'Nikhil Jain'), ('K000114', 'Priya R'), ('I000227', 'Ravi Verma'), ('I000228', 'Neha Sharma'), ('I000232', 'Shweta Patel')]
```

In [76]:
from groq import Groq
prompt=f'''give the employee id and employee name where their date of join is after 2020 give in alphabetical order of anme and also give the query to fetch those info   given columns and rows
rows : {rows}
columns:{columns}'''
client = Groq(api_key="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")  


chat_completion = client.chat.completions.create(
    model="llama3-70b-8192",  
    messages=[
        {
            "role": "user",
            "content": prompt
        }
    ]
   
)

result=chat_completion.choices[0].message.content
print(result)

The query to fetch the employee ID and employee name where the date of join is after 2020 in alphabetical order of name is:

```
SELECT EMPNO, Name
FROM employees
WHERE Date_of_Join > '2020-01-01'
ORDER BY Name;
```

This will give you the following result:

```
('I000226', 'Amit Joshi')
('I000227', 'Imran Khan')
('I000230', 'Divya Nair')
('I000231', 'Karan Mehta')
('I000232', 'Nikhil Jain')
('K000112', 'Jane Smith')
('K000114', 'Priya R')
('I000228', 'Ravi Verma')
('I000234', 'Shweta Patel')
```

Note: The result set may vary based on the actual data in the table.

Explanation:

* `SELECT EMPNO, Name`: This selects the `EMPNO` and `Name` columns from the table.
* `FROM employees`: This specifies the table name as `employees`.
* `WHERE Date_of_Join > '2020-01-01'`: This filters the rows where the `Date_of_Join` is after January 1, 2020.
* `ORDER BY Name`: This sorts the result set in alphabetical order by the `Name` column.

In [132]:
cursor = conn.cursor()
cursor.execute("SELECT EMPNO, Name FROM employee_professional_profile WHERE Date_of_Join > '2020-12-31' ORDER BY Name ASC ")
rows_all=cursor.fetchall()
print(rows_all)

[('I000226', 'Imran Khan'), ('K000112', 'Jane Smith'), ('I000231', 'Karan Mehta'), ('I000234', 'Meena Gupta'), ('I000228', 'Neha Sharma'), ('I000235', 'Nikhil Jain'), ('K000114', 'Priya R'), ('I000227', 'Ravi Verma'), ('I000232', 'Shweta Patel')]

In [ ]:
prompt=f''' 
query :generate a query employee id and employee name where their date of join is after 2020

question: Nikhil jain ,jane smith ,neha sharma

response format:
if query satifies the question ,  empoyee_name joined after 2020-01-01 .
if query doesnt satisfies for employee : NO , employee_name joined on this joining_date. access joining date from rows


rows: {rows}
give response accordingly 

'''
genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(prompt)
print( response.text)

query: SELECT employee_id, employee_name FROM employees WHERE date_of_join > '2020-01-01';

Nikhil Jain, joined after 2020-01-01.
Jane Smith, joined after 2020-01-01.
Neha Sharma, joined after 2020-01-01.

In [134]:
prompt = f'''
query: generate a query to get employee_id and employee_name where date_of_join is after 2020

response format (no backticks or markdown, just pure SQL):
SELECT * 
FROM content 
WHERE designation = 'Software Engineer';

table_name='employee_professional_profile'

columns: {columns}

i want exactly the same style so that I can directly execute it in MySQL.
'''

genai.configure(api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc")
model=genai.GenerativeModel(model_name="gemini-2.0-flash")
response =model.generate_content(prompt)
print( response.text)

cursor = conn.cursor()
cursor.execute(response.text)
row=cursor.fetchall()
print(row)

SELECT EMPNO, Name
FROM employee_professional_profile
WHERE Date_of_Join > '2020-12-31';

[('I000226', 'Imran Khan'), ('I000227', 'Ravi Verma'), ('I000228', 'Neha Sharma'), ('I000231', 'Karan Mehta'), ('I000232', 'Shweta Patel'), ('I000234', 'Meena Gupta'), ('I000235', 'Nikhil Jain'), ('K000112', 'Jane Smith'), ('K000114', 'Priya R')]